.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  border-radius: 100px;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 10% auto;
  max-width: 400px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.error-header {
  background: #e2525c;
}
.success-header {
  background: #43a764;
}
.coins-header {
  background: #c7aa0a;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
  padding: 0.3rem 1rem;
  margin-left: 0.5rem;
}

.button-default {
  background: #247ba0;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;

  .error {
    color: #e2525c;
  }
  .success {
    color: #43a764;
  }

  .gif {
    align-self: center;
    max-width: 200px;
    margin: 20px;
  }
}

.coins-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  input {
    margin: 10px;
  }

  label {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #868686;
  }
}
