@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Roboto Slab", serif;
  padding: 0;
}

body {
  background-color: #d2dbdd;
}

.neons {
  width: 100%;
  height: 200px;
  text-align: center;
  justify-self: center;
  background-color: rgb(36, 36, 36);
  h1 {
    font-family: "Sacramento", cursive;
    font-size: 7rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: blink 6s infinite;
    -moz-animation: blink 12s infinite;
    animation: blink 12s infinite;
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 3rem;
    }
  }
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
      0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
      0 0 90px #00fff2;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2,
      0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2,
      0 0 90px #00fff2;
    color: #fff6a9;
  }
}

.user-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.cards {
  margin: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 600px) {
    margin: 0 30px;
  }
}

.card {
  margin: 30px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 250px;
  height: 300px;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

  .img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 10px 24px;
  }
  .category {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
  }

  .title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Roboto Slab", serif;
  }
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.container-pagination {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.pagination {
  padding: 15px 0;
  margin: 20px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination button {
  margin: 20px;
  background-color: turquoise;
  display: inline-block;
  padding: 10px 18px;
  color: #fff;
  font-weight: bold;
  border: none;
}

.coins-left {
  opacity: 0.8;
  background: #929292;
  border-radius: 100px;
  width: 160px;
  height: 42px;
  display: flex;
  max-width: 170px;
  margin-left: 18%;
  margin-right: 18%;
  justify-content: center;
  span {
    margin-right: 5px;
    color: white;
    display: inline-flex;
    align-items: center;
  }
}
.coins-user {
  margin-right: 10px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  background-color: #ededed;
  width: 110px;
  span {
    display: inline-flex;
    align-items: center;
    color: gray;
  }
}
